<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56514648473-atnoqco8or3dqbpg9jriae0aitmmi9aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56514648473-atnoqco8or3dqbpg9jriae0aitmmi9aj</string>
	<key>API_KEY</key>
	<string>AIzaSyCE6UBKH_mVHnZMxMbNNgSXt-IsTscDI5s</string>
	<key>GCM_SENDER_ID</key>
	<string>56514648473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegisterWorkout</string>
	<key>PROJECT_ID</key>
	<string>login-register-applicati-91db0</string>
	<key>STORAGE_BUCKET</key>
	<string>login-register-applicati-91db0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56514648473:ios:d0b105def06e2f4b47db08</string>
</dict>
</plist>